---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---
<BaseLayout>
    <Header />
    <div class="container">
        
    </div>
</BaseLayout>
