---

---

<footer class="bg-red-800 text-white text-center py-4 px-2">
  <div class="max-w-7xl mx-auto">
    <p>&copy; |  GT Sp. z o.o. os. Stefana Batorego 14i, 60-687 Poznań. Wszelkie prawa zastrzeżone.</p>
  </div>
</footer>