---

---
<!-- Navbar -->
<div class="flex items-center justify-between px-4 py-1 bg-primary text-white border-b-3 border-secondary">
  <a href="/">
    <div class="logo text-4xl tracking-wider">GSMDOCTOR</div>
  </a>

  <nav class="flex px-2 space-x-6">
    <a href="#" class="hover:text-(--secondary-color)">Usługi</a>
    <a href="#" class="hover:text-(--secondary-color)">Kontakt</a>
  </nav>
</div>
