---

---

<nav class="px-4 py-3 bg-white text-white border-b-2 border-red-800">
  <div class="flex items-center justify-between container mx-auto">
    <a href="/" class="flex items-center">
      <img
        src="/logos/logo-gsmdoctor.png"
        alt="GSMDoctor Logo"
        class="h-10 w-auto mr-2"
      />
      <div class="logo hidden sm:block text-black text-2xl md:text-3xl">
        SERWIS GSMDOCTOR
      </div>
    </a>
    <nav class="flex px-2 space-x-6 text-black text-md md:text-lg">
      <a href="#" class="hover:text-red-600">Usługi</a>
      <a href="#" class="hover:text-red-600">Marki</a>
      <a href="#" class="hover:text-red-600">Kontakt</a>
    </nav>
  </div>
</nav>

<style>
  .logo {
    font-family: var(--font-bitsumishi);
  }
</style>
