---

---
<!-- Navbar -->
<div class="flex items-center justify-between px-4 py-1 bg-primary text-white border-b-3 border-secondary">
  <a href="/">
    <div class="logo text-4xl tracking-wider">GSMDOCTOR</div>
  </a>

  <nav class="flex px-2 space-x-6">
    <a href="#" class="hover:text-(--secondary-color)">Usługi</a>
    <a href="#" class="hover:text-(--secondary-color)">Kontakt</a>
  </nav>
</div>

<style>
  .logo {
    font-family: var(--font-bitsumishi);
    background: linear-gradient(45deg, #ffffff, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
</style>
