---

---
<!-- Navbar -->
<div class="px-4 py-3 bg-white text-white border-b-2 border-secondary">
  <div class="flex items-center justify-between container mx-auto">
    <a href="/" class="flex items-center">
    <img src="/logos/logo-gsmdoctor.png" alt="GSMDoctor Logo" class="h-10 w-auto mr-2">
    <div class="logo text-3xl tracking-wide">SERWIS GSMDOCTOR</div>
  </a>

  <nav class="flex px-2 space-x-6 text-md">
    <a href="#" class="secondary-color hover:underline tracking-wide lato-bold">Usługi</a>
    <a href="#" class="secondary-color hover:underline tracking-wide lato-bold">Marki</a>
    <a href="#" class="secondary-color hover:underline tracking-wide lato-bold">Kontakt</a>
  </nav>
  </div>
</div>

<style>
  .logo {
    font-family: var(--font-bitsumishi);
    background: linear-gradient(45deg, black, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
</style>
