---
import { Font } from "astro:assets";
---

<html lang="pl-PL">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Serwis GSMdoctor</title>

    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-bitsumishi" />

    <style>
      body {
        font-family: var(--font-inter);
        background-color: #e3e3e3;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
