---
import "../styles/global.css";
import "../styles/fonts.css";
import { Font } from "astro:assets";
---

<html lang="pl-PL">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="serwis-gsmdoctor" content="Serwis GSMdoctor" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <title>Serwis GSMdoctor</title>

    <Font cssVariable="--font-bitsumishi" />

    <style>
      body {
        background: #eeeeee;
      }
    </style>
  </head>
  <body class="lato-regular">
    <slot />
  </body>
</html>
